body {
    font-family: 'Nunito', sans-serif;
    background: #f7f8f9;
}
.p-0 {
    padding: 0;
}
.collapse.navbar-nav {
    display: flex;
    justify-content: space-between;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    height: 30px;
    width: 30px;
}

div.row {
    padding: 10px;
}

div .h4{
    margin-top: 10px;
}

footer {
    height: 61px;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div .card {
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px 0px rgba(148,140,148,0.84);
}

div .social-link {
    text-decoration: none;
    color: #212529;
    line-height: 0;
}


div .social-link img {
    width: 15px;
    height: 15px;
}
div .social-link .social-name {
    font-size: 12px;
}

